<html>
<body>
	<h1>Authenicate your Yammer account with IVR System<h1>
		<p>IVR System will use your Yammer account to post voicemail notifications to Yammer</p>
		
		<a href="<%=raw @auth_url%>">Sign in with Yammer</a>
</body>
</html>